<!-- Snakes About -->
{% extends 'base.html' %}
{% block content %}

    <h1>About the Snake Collector</h1>
    <hr>
    <p>🐍 Welcome to the Snake Collector app 🐍</p>
    <hr>
    <p>Come explore the fascinating world of snakes with our comprehensive snake database. Whether you're a seasoned herpetologist or a curious beginner, Snake Collector is your go-to resource for learning about diverse snake species from around the globe.</p>
    <hr>
    <p>Key Features:</p>
    <ul>
        <li>🔍 Detailed snake profiles with information on habitat, venom level, and more.</li>
        <li>📚 Educational content to enhance your understanding of these incredible creatures.</li>
        <li>🌐 Global conservation efforts and initiatives to protect snake species and their habitats.</li>
        <li>🤝 Community engagement through forums to connect with fellow snake enthusiasts.</li>
    </ul>
    <hr>
    <p><strong>GET INVOLVED</strong>, download the Snake Collector app, and embark on a captivating journey into the mesmerizing world of snakes. 🌎🐍</p>

    {% endblock %}
    