<!-- Snakes About -->
{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    <h1 class="text-center text-danger">About the Snake Collector 🐍</h1>
    <hr class="my-4">
    <p class="lead text-center">Welcome to the Snake Collector app</p>
    <hr class="my-4">
    <p class="lead text-center">Come explore the fascinating world of snakes with our comprehensive snake database. Whether you're a seasoned herpetologist or a curious beginner, Snake Collector is your go-to resource for learning about diverse snake species from around the globe.</p>
    <hr class="my-4">
    <h4>Key Features:</h4>
    <ul class="list-group">
        <li class="list-group-item">🔍 Detailed snake profiles with information on habitat, venom level, and more.</li>
        <li class="list-group-item">📚 Educational content to enhance your understanding of these incredible creatures.</li>
        <li class="list-group-item">🌐 Global conservation efforts and initiatives to protect snake species and their habitats.</li>
        <li class="list-group-item">🤝 Community engagement through forums to connect with fellow snake enthusiasts.</li>
    </ul>
    <hr class="my-4">
    <p class="lead text-center"><strong>GET INVOLVED</strong>, download the Snake Collector app, and embark on a captivating journey into the mesmerizing world of snakes. 🌎🐍</p>
</div>

    {% endblock %}
    