body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main.container {
    background-color: #023310;
    color: #c3eec4; 
}

main {
    flex: auto;
}

nav ul li a {
    color: #ffffff;
}

div.nav-wrapper {
    background-color: #4CAF50;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}